<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Home</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav>
    <div class="container">
        <nav>
            <a href="/" class="logo">
              <img src="one-stop.png" alt="Logo" class="logo-img">
            </a>
          </nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="hero">
    <div  class="hero-content">
      <h1>Welcome to One-Stop</h1>
      <h2>Discover our amazing  services.</h2>
      <p>Providing vital support in legal, medical, counseling, and community services to keep you safe, informed, and empowered</p>
      <div class="buttons">
        <a href="/signup">Sign In</a>
        <a href="/login">Log In</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2024 One-Stop. All rights reserved.</p>
    </div>
  </footer>

  <!-- Add your JavaScript code here -->
</body>
</html>
 